/* variables.css */
:root {
    
    --primary-color: #15b9a6;
    --secondary-color: #95f1dd;
    --background-color: #f0f8f5;
    --text-color: #333;
    --button-hover-color: #388e3c;
    --footer-link-color: #4caf50;
}
